image: gradle:4.10.3-alpine

variables:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.internal.launcher.welcomeMessageEnabled=false

stages:
  - build
  - release

test:
  stage: build
  script:
    - gradle check

pages:
  stage: build
  script:
    - gradle dokka
  artifacts:
    paths:
      - public/
  only:
    - master

publishDevelopmentVersion:
  stage: release
  script:
    - gradle publishJvmPublicationToGitlabRepository publishMetadataPublicationToGitlabRepository
  only:
    - develop

publishReleaseVersion:
  stage: release
  script:
    - gradle bintrayUpload
  only:
    - master
  when: manual
