image: gradle:8.7

variables:
  GRADLE_OPTS: -Dorg.gradle.internal.launcher.welcomeMessageEnabled=false

stages:
  - build
  - release

publishDevelopmentVersion:
  stage: release
  script:
    - gradle build publishAllPublicationsToOssrhSnapshotsRepository
  only:
    - develop

test:
  stage: build
  script:
    - gradle check
  only:
    - master

pages:
  stage: build
  script:
    - gradle dokkaHtmlMultiModule
  artifacts:
    paths:
      - public/
  only:
    - master

publishMavenCentralVersion:
  stage: release
  script:
    - gradle publishAllPublicationsToOssrhStagingRepository
  only:
    - master
  when: manual
